<div class="container">
  <form
    class="formulario"
    [formGroup]="cordenada"
    style="margin-top: 4em; width: 70%"
  >
    <div class="row">
      <mat-form-field class="input" appearance="fill">
        <mat-label>Cidade</mat-label>
        <input
          matInput
          value="London"
          formControlName="name"
          placeholder="Ex. Porto Alegre"
        />
        <mat-hint *ngIf="cidadeErrada">{{ cidadeErro }}</mat-hint>
      </mat-form-field>
    </div>
    <div class="row" style="margin-top: 2em">
      <div class="col-6">
        <mat-form-field
          class="input"
          appearance="fill"
          class="input"
          readonly="true"
        >
          <mat-label>Temperatura</mat-label>
          <input matInput formControlName="temp" placeholder="Ex. 30°C" />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input" appearance="fill" readonly="true">
          <mat-label>Sensação Térmica</mat-label>
          <input
            matInput
            formControlName="feels_like"
            readonly="true"
            placeholder="Ex. 30°C"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field class="input" appearance="fill" class="input">
          <mat-label>Temperatura Mínima</mat-label>
          <input
            matInput
            formControlName="temp_min"
            placeholder="Ex. 10°C"
            readonly="true"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="input" appearance="fill">
          <mat-label>Temperatura Máxima</mat-label>
          <input
            matInput
            formControlName="temp_max"
            placeholder="Ex. 30°C"
            readonly="true"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field
          class="input"
          appearance="fill"
          class="input"
          readonly="true"
        >
          <mat-label>Clima</mat-label>
          <input
            matInput
            formControlName="description"
            placeholder="Ex. chuvoso"
            readonly="true"
          />
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field
          class="input"
          appearance="fill"
          class="input"
          readonly="true"
        >
          <mat-label>Umidade</mat-label>
          <input
            matInput
            formControlName="humidity"
            placeholder="Ex. 80%"
            readonly="true"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-between" style="margin-top: 1em; margin-bottom: 2em;">
      <div class="col">
      </div>
      <div class="col-auto">
        <button
          style="margin-right: 1em;"
          mat-raised-button
          color="primary"
          [disabled]=""
          (click)="limpar()"
        >
          Limpar
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]=""
          (click)="getCordenadas()"
        >
          Avançar
        </button>
      </div>
    </div>
  </form>
</div>
